/* General */

.table{
  text-align: center;
}

.display-5 {
  font-size: 3em;
  text-align: center;
  color: #343a40;
  font-weight: bold;
}

.display-6 {
  font-size: 2em;
  text-align: center;
  color: #343a40;
  font-weight: bold;
}

.jumbotron {
  background-color: #c8cbce !important;
  height: 1em;
}

.jumbotron h1 {
  margin-top: -.5em;
}

.container {
  padding-top: 25px;
}

.hideme{
  display: none;
}

#SubmitPost{
  text-align: center;
  padding-top: 20px;
}

#SubmitComment{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

#submit{
  margin-top: 10px;
}

#page{
  text-align: center;
  padding: 20px;
}

#commentImg{
  margin-left: 10px;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

#user{
  color: white;
}

#login{
  color: black;
}

#newPost {
  width: 75%;
  margin: auto;
}

#newComment {
  width: 75%;
  margin: auto;
}


p {
  text-align: left;
/*margin-right: 6.250em; */
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
  clear: both;
  font-size: 18px;
  line-height: 30px;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

/* Table */

th {
  margin-top: 10px;
  font-size: 20px;
}


td{
  font-size: 20px;
  width: 100%;
}


/* Lists */

li {
  padding-bottom: .625em;
  font-size: 18px;
}

/* Links */

a:link {
  color: grey;
}

a:visited {
  color: grey;
}

a:hover {
  color: purple;
}

/* Login Page */
@import url('https://fonts.googleapis.com/css?family=Ultra');

.login h1 {
    font-family: 'Ultra', serif;
}

.login {
    background-color: #868e96;
}
.login p {
    text-align: center;
}

.login a {
    color: whitesmoke;
}

.login input {
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#inputs  {
    margin: auto;
    text-align: center;
    width: 500px;
}
